---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: cross-seed
spec:
  interval: 30m
  timeout: 15m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: longhorn
      namespace: longhorn-system
    - name: qbittorrent
      namespace: default
  values:
    controllers:
      cross-seed:
        labels:
          nfsMount: "true"
        type: statefulset
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/cross-seed/cross-seed
              tag: 6.13.6@sha256:e2bf5b593e4e7d699e6242423ad7966190cd52ba8eefafdfdbb0cb5b0b609b96
            env:
              TZ: "${TIMEZONE}"
              CROSS_SEED_PORT: &port 80
            args:
              - daemon
              - -v
            # may not recover properly when crashing during search because api server locks up
            probes:
              startup:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  # Allow up to ~10 minutes for initial indexing
                  periodSeconds: 10
                  failureThreshold: 60
                  timeoutSeconds: 5
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /api/ping
                    port: *port
                  periodSeconds: 10
                  timeoutSeconds: 60 # was 1
                  failureThreshold: 5 # was 3
              readiness: *probes
            securityContext:
              runAsUser: 568
              runAsGroup: 568
              runAsNonRoot: true
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
                memory: 512Mi
              limits:
                memory: 2Gi
    service:
      app:
        controller: cross-seed
        ports:
          http:
            port: *port
    persistence:
      config:
        existingClaim: cross-seed
      config-file:
        type: secret
        name: cross-seed-secret
        globalMounts:
          - path: /config/config.js
            subPath: config.js
            readOnly: true
      tmp:
        type: emptyDir
        globalMounts:
          - path: /tmp
      media:
        type: nfs
        server: unraid.lan.${SECRET_DOMAIN}
        path: /mnt/user/data/Media
        globalMounts:
          - path: /media
