---
# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./externalsecret.yaml
  - ./pvc.yaml
  - ./helmrelease.yaml
  - ../../../../../shared/templates/gatus/guarded
configMapGenerator:
  - name: sonarr-scripts
    files:
      - refresh-series.sh=./resources/refresh-series.sh
      - xseed.sh=./resources/xseed.sh
generatorOptions:
  disableNameSuffixHash: true
  annotations:
    kustomize.toolkit.fluxcd.io/substitute: disabled
