---
apiVersion: batch/v1
kind: Job
metadata:
  name: seerr-db-init
spec:
  ttlSecondsAfterFinished: 120
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: init-db
          image: ghcr.io/home-operations/postgres-init:18.2.0@sha256:ae89578925b480f5972f237dda2f7a37efe36aff500d3e7bd1d3a6a3181e4191
          envFrom:
            - secretRef:
                name: seerr-secret
