---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: &app plex-auto-languages
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  dependsOn:
    - name: external-secrets
      namespace: external-secrets
  values:
    controllers:
      plex-auto-languages:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/journeydocker/plex-auto-languages
              tag: 1.4.1@sha256:bb401cef2bc0c4299bd53ca9360a5e9a6bde0437e1eadd1bc387030779a6ae76
            env:
              TZ: "${TIMEZONE}"
              PLEX_URL: "http://192.168.0.10:32400"
              UPDATE_STRATEGY: "all"
            envFrom:
              - secretRef:
                  name: plex-secret
            resources:
              requests:
                cpu: 75m
                memory: 300M
              limits:
                memory: 1Gi
    persistence:
      config:
        enabled: true
        type: emptyDir
      local:
        type: emptyDir
        globalMounts:
          - path: /.local
