---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: homepage
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: homepage-secret
    template:
      engineVersion: v2
      data:
        HOMEPAGE_VAR_OVERSEERR_TOKEN: "{{ .OVERSEERR_API_KEY }}"
        HOMEPAGE_VAR_SONARR_TOKEN: "{{ .SONARR_API_KEY }}"
        HOMEPAGE_VAR_RADARR_TOKEN: "{{ .RADARR_API_KEY }}"
        HOMEPAGE_VAR_PROWLARR_TOKEN: "{{ .PROWLARR_API_KEY }}"
        HOMEPAGE_VAR_CALIBRE_USERNAME: "{{ .CALIBRE_USERNAME }}"
        HOMEPAGE_VAR_CALIBRE_PASSWORD: "{{ .CALIBRE_PASSWORD }}"
        HOMEPAGE_VAR_BAZARR_TOKEN: "{{ .BAZARR_API_KEY }}"
        HOMEPAGE_VAR_JELLYSEERR_TOKEN: "{{ .JELLYSEERR_API_KEY }}"
        HOMEPAGE_VAR_SEERR_TOKEN: "{{ .SEERR_API_KEY }}"
        HOMEPAGE_VAR_TAUTULLI_TOKEN: "{{ .TAUTULLI_API_KEY }}"
        HOMEPAGE_VAR_CHANGEDETECTION_TOKEN: "{{ .CHANGEDETECTION_API_KEY }}"
        HOMEPAGE_VAR_SABNZBD_TOKEN: "{{ .SABNZBD_API_KEY }}"
        HOMEPAGE_VAR_QBITTORRENT_USERNAME: "{{ .QBITTORRENT_USERNAME }}"
        HOMEPAGE_VAR_QBITTORRENT_PASSWORD: "{{ .QBITTORRENT_PASSWORD }}"
        HOMEPAGE_VAR_AUTOBRR_TOKEN: " {{ .AUTOBRR_API_KEY }}"
        HOMEPAGE_VAR_AUTHENTIK_TOKEN: "{{ .AUTHENTIK_TOKEN }}"
        HOMEPAGE_VAR_ZABBIX_API_TOKEN: "{{ .ZABBIX_API_TOKEN }}"
        HOMEPAGE_VAR_CLOUDFLARED_ACCOUNTID: "{{ .CLOUDFLARE_ACCOUNT_TAG }}"
        HOMEPAGE_VAR_CLOUDFLARED_TUNNELID: "{{ .CLOUDFLARE_TUNNEL_ID }}"
        HOMEPAGE_VAR_CLOUDFLARED_API_TOKEN: "{{ .CLOUDFLARE_API_KEY }}"
        HOMEPAGE_VAR_GRAFANA_USERNAME: "{{ .GRAFANA_ADMIN_USERNAME }}"
        HOMEPAGE_VAR_GRAFANA_PASSWORD: "{{ .GRAFANA_ADMIN_PASSWORD }}"
        HOMEPAGE_VAR_HA_TOKEN: "{{ .TALOS_CLUSTER_HA_TOKEN }}"
        HOMEPAGE_VAR_TRUENAS_API_KEY: "{{ .TRUENAS_API_KEY }}"
        HOMEPAGE_VAR_PFSENSE_USERNAME: "{{ .pfsense_username }}"
        HOMEPAGE_VAR_PFSENSE_PASSWORD: "{{ .pfsense_password }}"
        HOMEPAGE_VAR_LUBELOGGER_USERNAME: "{{ .LUBELOGGER_USERNAME }}"
        HOMEPAGE_VAR_LUBELOGGER_PASSWORD: "{{ .LUBELOGGER_PASSWORD }}"
  dataFrom:
    - extract:
        key: lubelogger
    - extract:
        key: autobrr
    - extract:
        key: calibre-web
    - extract:
        key: qbittorrent
    - extract:
        key: sabnzbd
    - extract:
        key: changedetection
    - extract:
        key: tautulli
    - extract:
        key: authentik
    - extract:
        key: overseerr
    - extract:
        key: sonarr
    - extract:
        key: radarr
    - extract:
        key: prowlarr
    - extract:
        key: bazarr
    - extract:
        key: jellyseerr
    - extract:
        key: seerr
    - extract:
        key: zabbix
    - extract:
        key: cloudflare
    - extract:
        key: grafana
    - extract:
        key: homeassistant
    - extract:
        key: truenas
    - extract:
        key: pfsense
      rewrite:
        - regexp:
            source: "(.*)"
            target: "pfsense_$1"
