---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: poenskelisten
spec:
  refreshInterval: 5m
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword-connect
  target:
    name: poenskelisten-secret
    template:
      engineVersion: v2
      data:
        dbtype: postgres
        dbip: &dbHost postgres16-rw.database-system.svc.cluster.local
        dbport: "5432"
        dbname: &dbName ponske_main
        dbusername: &dbUser "{{ .POENSKELISTEN_DB_USERNAME }}"
        dbpassword:  &dbPass "{{ .POENSKELISTEN_DB_PASSWORD }}"
        smtppassword: "{{ .POENSKELISTEN_SENDGRID_API_KEY }}"
        INIT_POSTGRES_DBNAME: *dbName
        INIT_POSTGRES_HOST: *dbHost
        INIT_POSTGRES_USER: *dbUser
        INIT_POSTGRES_PASS: *dbPass
        INIT_POSTGRES_SUPER_PASS: "{{ .POSTGRES_SUPER_PASS }}"
  dataFrom:
    - extract:
        key: cloudnative-pg
    - extract:
        key: poenskelisten
