---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: prometheus-pve-exporter
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllers:
      prometheus-pve-exporter:
        containers:
          app:
            image:
              repository: ghcr.io/prometheus-pve/prometheus-pve-exporter
              tag: 3.8.0@sha256:66e0c8558b23f06231ab55ab1afdef2d43ff24365bcf75d36adaef6d9f7497df
            envFrom:
              - secretRef:
                  name: pve-exporter-secret
            env:
              PVE_VERIFY_SSL: false
              PVE_USER: "prometheus@pve"
        pod:
          securityContext:
            runAsUser: 568
            runAsGroup: 568
    service:
      app:
        controller: prometheus-pve-exporter
        ports:
          http:
            port: 9221
